:root {
  --red_color: #a00000;
  --darkRed_color: #820000;
  --header_color: #bdb1a5;
  --icon_color: #cf0000;
  --Btn_color: #7D0A0A;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253237;
  --border_color: #d6d6d6d5;
}